.judul {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}

input {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid;
    color: #dee7ec;
}

textarea{
    width: 400px;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
    font-size: 18px;
    border: 1px solid;
    color: #dee7ec;
  }

  .contact-submit{
    background-color: #dee7ec;
    color: #889eab;
  }