* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.hubungi {
  background-color: #22a6b3;
}

.register {
  background-color: #f1c40f;
  margin-right: 10px;
}

.login {
  background-color: #c0392b;
}


.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 180px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;  
}

.menu-icon {
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f7f7f7;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.contact-form {
  padding-top: 100px;
}

.contact-submit {
  background-color: #dee7ec;
  color: #889eab;
}

.section h3{
  display: inline-block;
  color: #2b546a;
  font-size: 20px;
  line-height: 27px;
  margin: 0 5px;
  text-align: left;
}

.section {
  padding-bottom: 0px;
  color: #5f5d60;
  padding-left: 15px;
}

.section img {
  width: 50%;
  float: left;
}

input, textarea {
  width: 500px;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 13px;
  font-size: 15px;
  border: 1px solid #dee7ec;
  float: right;
}

footer img {
  width: 125px;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}

/* CSS Menu Pelajaran */
.judul {
  padding-top: 120px;
  padding-bottom: 0px;
  color: #5f5d60;
  padding-left: 15px;
  display: flex;
  align-items: center;
}

.judul h5 {
  display: inline-block;
  color: #2b546a;
  font-size: 18px;
  line-height: 27px;
  margin: 0 5px;
  text-align: left;
}

.card-success {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(56, 193, 114, 0.5);
  border-radius: 0.25rem;
  float: left;
  margin: 20px 20px 20px 20px;
  height: 18rem;
  width: 15rem;
}

.card-success:hover {
  box-shadow: rgb(0 0 0 / 9%) 0 3px 20px !important;
  transform: translate3d(0, -1px, 0);
}

.card-danger {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(227, 52, 47, 0.5);
  border-radius: 0.25rem;
  float: left;
  margin: 20px 20px 20px 20px;
  height: 18rem;
  width: 15rem;
}

.card-danger:hover {
  box-shadow: rgb(0 0 0 / 9%) 0 3px 20px !important;
  transform: translate3d(0, -1px, 0);
}

.card-warning {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f1c40f;
  border-radius: 0.25rem;
  float: left;
  margin: 20px 20px 20px 20px;
  height: 18rem;
  width: 15rem;
}

.card-warning:hover {
  box-shadow: rgb(0 0 0 / 9%) 0 3px 20px !important;
  transform: translate3d(0, -1px, 0);
}

.card-info {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d6e9f9;
  border-radius: 0.25rem;
  float: left;
  margin: 20px 20px 20px 20px;
  height: 18rem;
  width: 15rem;
}

.card-info:hover {
  box-shadow: rgb(0 0 0 / 9%) 0 3px 20px !important;
  transform: translate3d(0, -1px, 0);
}

.card-body {
  flex: auto;
  min-height: 1px;
  padding: 1.25rem;
}

.card-title {
  margin-bottom: 0.75rem;
  font-size: 20px;
}

.card-subtitle {
  color: #2b546a;
  margin: 10px 0 34px;
  font-size: 12px;
  letter-spacing: 0;
  padding: 0 14px;
  height: 40px;
  text-align: center;
}

.card-img {
width: 50%;
display: block;
margin: auto;
}

/* Untuk Tablet */
@media all and (max-width: 1000px) {
  .lesson {
    width: 50%;
    margin-bottom: 50px;
  }
  
  .top-wrapper h1 {
    font-size: 32px;
  }
  
  .heading h2 {
    font-size: 20px;
  }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {
  .lesson {
    width: 100%;
  }
  
  footer {
    text-align: center;
  }
  
  .btn {
    width: 100%;
  }
  
  .register {
    margin-bottom: 10px;
  }
  
  .top-wrapper {
    text-align: left;
  }
  
  /* Tambahkan CSS untuk header-right */
  .header-right {
    display: none;
  }
  
  /* Tambahkan CSS untuk menu-icon */
  .menu-icon {
    display: block;
  }
  
  .top-wrapper h1 {
    font-size: 24px;
    line-height: 36px;
  }
  
  .top-wrapper p {
    font-size: 14px;
    line-height: 20px;
  }
}